footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-top: 2px;
    padding-bottom: 3px;

}/*
.fotoPerfil{

    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
}
.linkfoto{
    background: linear-gradient(transparent, transparent, black);
    background-size: 50px;
    opacity: 0;
    height: 150px;
    border-radius: 50%;
    padding-top: 65%;
    transition: ease-in 0.2s;
}

.linkfoto:hover{
    opacity: 1;
}

*/.homeimg{
    background-image: url('../Img/Predio_final.jpg');
    background-size: 100%;
    background-attachment: fixed;
}/*

.corpadrao{
        background: linear-gradient(to bottom, #0277bd , #039be5);
    background: linear-gradient(to bottom, #0277bd , #039be5);
}

.corcancelar{
        background: linear-gradient(to bottom, #0277bd , #039be5);
    background: linear-gradient(to bottom, #d32f2f , #e53935 );
}

.alerta_vermelho{
    color: red;
}

*/
body {
    width: 100%;
    min-height: 100vh;
}/*

main {
    flex: 1 0 auto;
}*/


/*


Aqui comeca o paralax

*/
::-webkit-scrollbar {
    width: 0px;
}
.customWrapper {

    /* O elemento precisa ter uma altura definida para o efeito
    funcionar.
       100vh significa 100% da altura da view.
    */
    height: 100vh;

    /* O tamanho das imagens irá criar uma barra de rolagem 
    horizontal. Iremos desativar isso */
    overflow-x: hidden;

    /* A propriedade perspective indica a "distância" entre o 
    usuário e o plano Z.
    Quanto maior o valor, mais perto o elemento estará do usuário.
    Se for um valor negativo,
    mais distante esse elemento estará.
    */
    perspective: 2px;

    /* O transform-style indica se os elementos filhos devem ser 
    transformados em um plano 2D ou 3D.
    O valor preserve-3d indica que os elementos devem seguir o 
    espaço 3D indicado.
    */
    transform-style: preserve-3d;
}



.section {
    /* Indicamos "relative" para depois podermos
    posicionar os elementos filhos com "absolute" */
    position: relative;

    /* Indicamos uma altura para a nossa seção. O valor não 
    importa muito.
    Para garantir um bom efeito, coloquei também uma altura 
    mínima de 700px;
    */
    height: 100vh;

    /* Para manter a transformação em espaço 3D, indicamos o mesmo 
    valor do elemento pai (preserve-3d).
    Para não precisar repetir o valor "preserve-3d", você pode usar 
    o valor "inherit", que fará
    com que ele pegue o valor do elemento pai.
    */
    transform-style: inherit; 
}

.section::before {
    /* Aqui nós iremos configurar a imagem que irá aparecer no fundo
    da seção.
    Como vimos, o Parallax precisa de elementos diferentes, então 
    não daria certo se colocássemos o fundo diretamente na 
    <section>. Então criaremos um pseudo-elemento para isso.
    */

    /* Isso servirá para que o pseudo-elemento possua as mesmas
    dimensões do elemento <section> */
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    /* O z-index negativo irá garantir que a imagem não fique por 
    cima de outros elementos */ 
    z-index: -1;

    /* Aqui estamos fazendo com que a imagem de fundo cubra todo o
    elemento */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    /* Aqui está a brincadeira. Lembra que o nosso "wrapper" está
    mais próximo do usuário?
    Aqui nós faremos com que o nosso pseudo-elemento, que está com
    a imagem de fundo, fique mais longe do usuário. Para isso, 
    basta passar um valor negativo para "translateZ()".
    
    Como a imagem irá para longe do usuário, ela parecerá menor. 
    Então usamos o "scale()" para aumentar o tamanho da imagem.
    
    Como o elemento estará mais longe do usuário, ele irá se mover
    mais lentamente do que os elementos mais próximos conforme 
    a gente role a página.
    */
    transform: translateZ(-1px) scale(1.5);
}

.imagemDentroDoParallax{
    /* Essa classe, como dito antes, é só para o nosso conteúdo.
    Sinta-se livre para criar o que quiser.
    */
    position: absolute;
    top: 10%;
    width: 100%;
    padding: 5px 0;
    background-color: rgba(255, 255, 255,0.3);

    color: white;
    text-shadow: 0 0 5px #000;
    font-size: 20px;
    text-align: center;
}

.textDentroDoParallax{
    /* Essa classe, como dito antes, é só para o nosso conteúdo.
    Sinta-se livre para criar o que quiser.
    */
    position: absolute;
    top: 5%;
    width: 10%;
    padding: 20px 0;
    background-color: rgba(255, 255, 255,0.1);

    color: white;
    text-shadow: 0 0 5px #000;
    font-size: 20px;
    text-align: center;
}


/* Em nosso pseudo-elemento, configuramos a imagem de fundo,
mas não indicamos qual será a imagem.
  Isso nos permite poder criar outras classes para indicar 
  uma imagem diferente para cada <section>.
*/
.bg1::before {
    background-image: url('../Img/Predio_final2.jpg');
}

.bg2::before {
    background-image: url('https://i.imgur.com/W0Wot0k.jpg');
}

.bg3::before {
    background-image: url('https://i.imgur.com/DAerHqR.jpg');
}




/*Cores padroes*/

.corPadrao1{
    /*Branco*/
    background: #FFFFFF;
}

.corPadrao2{
    /*Azul Escuro*/
    background: #1D345C;
}

.corPadrao3{
    /*Laranja*/
    background: #E25211;
}

.textoCorPadrao2{
    color: #1D345C;
    font-weight: bold;
    
}

.fontmobile{
    font-size: 2vw;
}

.fontdesktop{
    font-size: 2vh;
}

.botaocontato{
    position: fixed;
    margin-right: 5px;
    margin-bottom: 30px;
    bottom: 0;
    right: 0;
    width: 135px;
    border-radius: 15px;
}

.caixacontato{
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: 15px;
    margin-bottom: 30px;
    min-height: 80vh;
    max-height: 100vh;
    width: 25vw;
    background-color: #FFFFFF;
    border-radius: 15px;
    min-width: 300px;
    /*border: thin solid #1D345C;*/
}

.topocontato{
    background-color: #1D345C;
    width: 100%;
    top: 0;
    margin-top: 0px;
    border-radius: 15px 15px 0px 0px;
}
.spancontato{
    font-size: 25px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
    margin-bottom: 10px;
}

.btn:hover{
    background-color: #787878;
}

.imgHome{
    background-image: url('../Img/Predio_final2.png');
    height: 100vh;
    width: 100vw;
    min-width: 100%;
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0;
}

.segundapagina{
    height: 100vh;
    /*background-image: url('../Img/bgindexdiv2.jpg');*/
    background-color: #cbcbcb;
    background-size: cover;
    background-position: center;
}

.imagempredio{
    background-image: url('../Img/predioCompletoPng2.png');
    background-size: 100%;
    background-repeat: no-repeat;
    height: 25.6vw;
    width: 34.1vw;
    margin-top: 5vh;
    margin-left: 1vh;
    overflow: auto;
    display: inline-block;
    transition: ease 0.5s;
    
}

.listaAndares{
    height: 25.6vw;
    width: 34.1vw;
    margin-top: 15vw;
    margin-left: 1vw;
    overflow: auto;
    display: inline-block;
    transition: ease 0.5s;
}

.pontoMobile{
    border: solid 0.15vh #E25211;
    border-radius: 50%;
    height: 2.8vh;
    width: 2.8vh;
    overflow: auto;
    transition: ease 0.5s;
    margin: 5px 5px 5px 5px;
}

.pontoMobile div{
    margin: 0.15vh 0.15vh 0.15vh 0.15vh;
    background-color: #E25211;
    height: 2.2vh;
    width: 2.2vh;
    border-radius: 50%;
    transition: ease 0.5s;
}

.ponto{
    border: solid 0.15vw #E25211;
    border-radius: 50%;
    height: 2.8vw;
    width: 2.8vw;
    overflow: auto;
    transition: ease 0.5s;
}

/*.ponto div:hover{
    background-color: #1D345C;

}
.ponto:hover{
    border-color: #1D345C;
}*/

.esconderLinha{
    border-radius: 20px;
    display: none;
    padding: 15px 15px 15px 15px;
    font-weight: bold;
    font-size: 2vw;
}

.ponto div{
    margin: 0.15vw 0.15vw 0.15vw 0.15vw;
    background-color: #E25211;
    height: 2.2vw;
    width: 2.2vw;
    border-radius: 50%;
    transition: ease 0.5s;
}

.logopag1{
    background-image: url('../Img/Alteracao_marca_4.png');
    min-width: 30vw;
    min-height: 25vh;
    height: 30vw;
    max-height: 45vh;
    /*max-height: 25vh;*/
    background-size: 45vh;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 5vh;
    margin-left: auto;
    margin-right: auto;

}

.fachada{
    font-family: "Brush Script MT", cursive;
    color: #1D345C;
    font-size: 10vw;
    text-shadow: black 0.1em 0.1em 0.15em;
}

.caixaPlanta{
    height: 22.776vw;
}

.centralizarVertical{
    margin-top: auto;
    margin-bottom: auto;
}

.planta1{
    background-image: url('../Img/planta1_2.png');
    background-size: cover;
    width: 54.6vw;
    height: 22.776vw;
    float: right;
    margin-top: 5vh;
    margin-right: 3vw;
}

.planta2{
    background-image: url('../Img/planta1_2.png');
   background-size: cover;
    width: 54.6vw;
    height: 22.776vw;
    float: right;
    margin-top: 5vh;
    margin-right: 3vw;
}
.planta3{
    background-image: url('../Img/planta3.png');
    background-size: cover;
    width: 54.6vw;
    height: 22.776vw;
    float: right;
    margin-top: 5vh;
    margin-right: 3vw;
}
.planta4{
    background-image: url('../Img/planta4.png');
    background-size: cover;
    width: 54.6vw;
    height: 22.776vw;
    float: right;
    margin-top: 5vh;
    margin-right: 3vw;
}


.planta1mobile{
    background-image: url('../Img/planta1_2.png');
    transform: rotate(90deg);
    background-size: cover;
    width: 85.176vw;
    height: 35.530vw;
    margin-top: 25vw;
    margin-left: -25vw;
    /*float: right;*/
    
}

.planta2mobile{
    background-image: url('../Img/planta1_2.png');
   transform: rotate(90deg);
    background-size: cover;
    width: 85.176vw;
    height: 35.530vw;
    margin-top: 25vw;
    margin-left: -25vw;
    /*float: right;*/
}
.planta3mobile{
    background-image: url('../Img/planta3.png');
    transform: rotate(90deg);
    background-size: cover;
    width: 85.176vw;
    height: 35.530vw;
    margin-top: 25vw;
    margin-left: -25vw;
    /*float: right;*/
}
.planta4mobile{
    background-image: url('../Img/planta4.png');
    transform: rotate(90deg);
    background-size: cover;
    width: 85.176vw;
    height: 35.530vw;
    margin-top: 25vw;
    margin-left: -25vw;
    /*float: right;*/
}


